<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="erp42">

    <!-- Include files -->
    <xacro:include filename="$(find erp42_description)/urdf/erp42_model.xacro"/>
    <xacro:include filename="$(find erp42_gazebo)/urdf/erp42_gazebo_control.xacro"/>
    
    <!-- ERP42 model description and gazebo control settings -->
    <xacro:erp42_model/>
    <xacro:erp42_gazebo_control/>

</robot>
